<header class="position-fixed w-100 bg-light hight--header d-flex flex-column">
  <nav class="navbar align-items-center border-bottom bg-light flex-grow-1">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <a href="/" class="navbar-brand m-0 textColor fw-bold brand pacifico-regular">
          Barrel&Vine
        </a>
        <div id="verticalbar" class="mx-xxl-2 mx-1 d-none d-lg-inline-block"></div>
        <a href="/" class="nav-link textColor fw-lighter lh-sm brandSubHeading d-none d-lg-inline-block pacifico-regular">
          Nơi hương vị<br />
          <span class="fw-medium brandSubHeading d-none d-lg-inline-block pacifico-regular">trở thành nghệ thuật</span>
        </a>

        <form action="/category" method="get">
          <div class="position-relative ms-4 d-none d-xl-inline-block">
            <input class="searchInput bg-body-tertiary iconCursor ps-md-5 p-1 p-md-2" type="search" placeholder="Tìm kiếm sản phẩm..." name="s" />
            <img class="position-absolute searchImg iconCursor" src="/images/png/search.svg" alt="search" />
          </div>
        </form>
      </div>

      <div class="d-flex align-items-center flex-lg-grow-0">
        <div class="d-none d-lg-block">
          <ul class="d-flex m-0 list-unstyled">
            <li class="nav-item iconChange me-4 pt-2">
              <a href="/contact" class="nav-link text-center p-0">
                <div class="d-flex align-items-center overflow-hidden changeWidth mx-auto">
                  <img class="one iconHeight mx-2" src="/images/svg/telephone.png" />
                  <img class="two iconHeight mx-2" src="/images/svg/telephone-tran.png" />
                </div>
                <div class="smallFont textColor">Gọi điện</div>
              </a>
            </li>
            <li class="nav-item iconChange me-4 pt-2">
              <a href="/contact" class="nav-link text-center p-0">
                <div class="d-flex align-items-center overflow-hidden changeWidth mx-auto">
                  <img class="iconHeight mx-2" src="/images/svg/placeholder.png" />
                  <img class="iconHeight mx-2" src="/images/svg/placehoder-tran.png" />
                </div>
                <div class="smallFont textColor">Địa chỉ</div>
              </a>
            </li>
            <li class="nav-item iconChange me-4 pt-1">
              <a href="/order-history" class="nav-link text-center p-0">
                <div class="d-flex align-items-center overflow-hidden changeWidth mx-auto">
                  <img class="iconHeight--delivery mx-2" src="/images/svg/delivery-car.png" />
                  <img class="iconHeight--delivery mx-2" src="/images/svg/delivery-car-tran.png" />
                </div>
                <div class="smallFont textColor">Đơn hàng</div>
              </a>
            </li>
            <li class="nav-item iconChange me-4 pt-2">
              <a href="/shopping-cart" class="nav-link text-center p-0">
                <div class="d-flex align-items-center overflow-hidden changeWidth mx-auto">
                  <img class="iconHeight mx-2" src="/images/svg/hand-bag.png" />
                  <img class="iconHeight mx-2" src="/images/svg/hand-bag-tran.png" />
                </div>
                <div class="smallFont textColor">Giỏ hàng</div>
              </a>
            </li>
          </ul>
        </div>

        <!-- Search bên mobile -->
        <form action="/category" method="get">
          <div id="iconContainer" class="d-flex flex-grow-1 justify-content-end justify-content-lg-center align-items-center rounded-5 bg-light d-xl-none">
            <div class="search-box">
              <input type="text" name="s" class="search-input" placeholder="Sản phẩm,..." />
              <button type="submit" class="search-btn">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>

        <% if (account) { %>
        <form id="infoForm" action="/customer-dashboard" method="GET">
          <div class="user-icon" onclick="document.getElementById('infoForm').submit();" style="cursor: pointer">
            <img src="<%= account.avatar ? account.avatar : 'https://th.bing.com/th/id/R.183cc3f6afac4052ca3dc8c131438139?rik=kSkS%2bIRSeFTbtQ&pid=ImgRaw&r=0' %>" width="40" height="40" style="object-fit: cover; border-radius: 50%" />
          </div>
        </form>
        <li class="dropdown" id="icon-drop" style="list-style: none">
          <a class="nav-link dropdown-toggle arrow-none nav-user px-2 pt-0 pb-0 m-0" data-bs-toggle="dropdown" href="#">
            <span class="d-lg-flex flex-column gap-1 d-none"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown p-2 dropdown--menu">
            <% if (account.role === 'admin' || account.role === 'staff') { %>
            <form action="/admin/dashboard" class="menu-user" style="border-bottom: 1px solid black">
              <button class="menu-button mb-1">
                <i class="fas fa-users-cog menu-icon text-light bg-warning"></i>
                Admin Page
              </button>
            </form>
            <% } %>
            <form action="/auth/logout" method="POST" class="menu-user">
              <button class="menu-button mt-1">
                <img class="menu-icon" src="/images/png/box-arrow-in-right.svg" alt="logout" />
                Đăng xuất
              </button>
            </form>
          </div>
        </li>
        <% } else { %>
        <form action="/auth/login" method="GET">
          <button id="loginBtn" class="btn btn-sm m-sm-2 m-1 bg-primary text-white rounded-5 px-sm-3 px-2">
            Login
            <img class="d-none d-lg-inline-block" src="/images/png/box-arrow-in-right.svg" />
          </button>
        </form>
        <% } %>
      </div>
    </div>
  </nav>

  <!-- Second Nav - For Mobile -->
  <nav id="secondNav" class="bottom-0 position-fixed end-0 start-0">
    <div class="d-lg-none">
      <div class="container-fluid d-flex justify-content-between shadow pt-2">
        <a href="/" class="text-center text-decoration-none textColor">
          <img class="iconHeight mb-1" src="/images/svg/logo.png" />
          <div class="extraSmallFont active pb-1 pacifico-regular">HexTech</div>
        </a>
        <a href="/contact" class="text-decoration-none textColor text-center">
          <img class="iconHeight mb-1" src="/images/svg/telephone.png" />
          <div class="extraSmallFont pb-1">Gọi điện</div>
        </a>
        <a href="/contact" class="text-decoration-none textColor text-center">
          <img class="iconHeight mb-1" src="/images/svg/placeholder.png" />
          <div class="extraSmallFont pb-1">Địa chỉ</div>
        </a>
        <a href="/order-history" class="text-decoration-none textColor text-center">
          <img class="iconHeight mb-1" src="/images/svg/delivery-car.png" />
          <div class="extraSmallFont pb-1">Đơn hàng</div>
        </a>
        <a href="/shopping-cart" class="text-decoration-none textColor text-center">
          <img class="iconHeight mb-1" src="/images/svg/hand-bag.png" />
          <div class="extraSmallFont pb-1">Giỏ hàng</div>
        </a>
        <a href="#" class="text-decoration-none textColor text-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar">
          <img class="iconHeight mb-1" src="/images/svg/menu.png" />
          <div class="extraSmallFont pb-1">Danh mục</div>
        </a>
      </div>
    </div>
  </nav>
</header>